.horizontal ul {
	background: #336495  url(images/main-menu-bg.png) top repeat-x;
}

.horizontal li {
	background: #336495  url(images/main-menu-bg.png) top repeat-x;
}

.themeclrHorizontal ul {
	background: #336495  url(images/main-menu-bg.png) top repeat-x;
}
